# dependencies
/node_modules

# next.js
/.next
/out

# caches
/.cache
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local
.env.*

# build output (standalone)
/.next/standalone

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
